/*----    Base styles ----*/

* {
    box-sizing: border-box;
}
  
    
body {
    background: url('./assets/wedding-landing-background.png') repeat center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #444349;
}
  
.locations,.program,.gifts,.faq,.contact {
    width: 96%;
    margin: 1.5rem auto;
    padding: .5rem 1rem;
    text-align: center;
}
  
h1,h2 {
    font-family: 'Great Vibes', cursive;
}
  
h2 {
    font-size: 3rem;
}
  
h3 {
    font-size: 1.5rem;
}
  
a {
    text-decoration: none;
    color: #bd806e;
}
  
a:hover {
    color: #eda087;
    transition: color .18s ease-in-out;
}

/* vertical layout space */
  
h1,h2,h3,ul,p,img {
    margin-bottom: 1.5rem;
}
.loc{
    margin-bottom: 0;
}
  
    /*----    Cover    ----*/

    .cover {
        background-repeat: no-repeat;
        background: url('./assets/wedding-landing-cover.jpg') no-repeat;
        background-size: cover;
        background-position: 80%;
        display: table;
        text-align: center;
        height: 100vh;
        width: 100vw;
      }
      
    .cover-wrapper {
        display: table-cell;
        vertical-align: middle;
      }
      
    .cover-text {
        margin: 0 auto;
        padding: .625rem;
        color: rgba(255, 255, 255, 0.9);
        background: rgba(0, 0, 0, 0.5);
      }
      
    .cover-text h1 {
        font-size: 3.15rem;
        color: #d2ba87;
        margin-bottom: 0; 
    }
      
    .tagline {
        font-size: 1.25rem;
        letter-spacing: .15rem;
    }
      
    .tagline::after {
        display: block;
        content: "";
        background-color: #fff;
        height: 1px;
        width: 12.5rem;
        margin: .5rem auto;
    }
      
    .date {
        font-size: 1.25rem;
        letter-spacing: .15rem;
        vertical-align: middle;
    }
      
    .date::before,.date::after {
        display: inline-block;
        content: "";
        background-color: #fff;
        height: 1px;
        width: 1.5rem;
        vertical-align: middle;
        margin: 0 .5rem;
    }

    /*----    Locations   ----*/

    .location-box img {
        height: 7.5rem;
    }
      
    .location-box h3 {
        font-weight: 700;
    }
      
    .location-box div {
        font-family: 'Muli', sans-serif;
    }
      
      
    .location-box::after {
        content: "";
        display: block;
        height: .1875rem;
        width: 25vw;
        margin: 1.5rem auto;
        background-color: #444349;
    }

    /*----    Program   ----*/

    .program {
        width: 100vw;
        text-align: left;
        background: rgba(0, 0, 0, 0.6);
        color: #d2ba87;
        font-family: 'Muli', sans-serif;
    }
      
    .program h2 {
        font-family: 'Great Vibes', cursive;
        margin-top: .8rem; 
        text-align: center;
    }
      
    .program p {
        font-style: italic;
    }
      
    .program ul {
        letter-spacing: .025rem;
    }

    /*----    Gifts    ----*/

    .gifts img {
        height: 7.5rem;
    }
    .eog {
        margin-bottom: 0;
    }

    /*----    FAQ    ----*/

    .faq {
        background: rgba(0, 0, 0, 0.6);
        color: #d2ba87;
        width: 100vw;
        text-align: center;
    }
    .faq h2 {
        margin-top: 1rem; 
    }
    .faq p {
        font-family: 'Muli', sans-serif;
        text-align: left;
    }
    .q-a::after {
        content: "";
        display: block;
        height: .1875rem;
        width: 50vw;
        margin: 1.5rem auto;
        background-color: #d2ba87;
    }
    .q {
        font-weight: 700;
        margin-bottom: .5rem;
    }
    .a {
        margin-bottom: 1.5rem;
    }

    /*----    Footer    ----*/

    footer {
        height: 12vh;
        width: 100vw;
        display: table;
        text-align: center;
        background-color: #606060;
        color: #fff;
        font-family: 'Muli', sans-serif;
        font-size: .85rem;
    }
      
    .footer-wrapper {
        display: table-cell;
        vertical-align: middle;
        padding: .5rem 1rem;
    }
      
    footer p {
        margin-bottom: 0;
    }
      
    footer small {
        line-height: 1.5;
    }

/*----    Biggest viewport    ----*/

@media (min-width: 768px) {

    /*----Cover----*/

    .cover {
      background: url('./assets/wedding-landing-cover.jpg') no-repeat center/cover;
    }
    .cover-text {
        padding: 1.25rem;
        border-radius: 4px;
        width: 50%;
    }
    .cover-text h1 {
        font-size: 7rem;
    }
    .tagline {
        text-transform: uppercase;
    }

    /*----Locations----*/

    .location-box {
        display: inline-block;
        width: 30%;
        padding: 1.5rem;
        margin: .5rem;
    }
    
    .location-box::after {
        display: none;
    }

    /*----Program----*/

    .program-wrapper {
        width: 33vw;
        margin: 0 auto;
    }

    /*----FAQ----*/

    .q-a {
        display: inline-block;
        width: 30%;
        padding: 1.5rem;
        margin: .5rem;
        vertical-align: top;
    }
    
    .q-a::after {
        display: none;
    }
    
    .q-a h3 {
        text-align: left;
    }

    /*----Footer----*/

    footer {
        min-height: 8vh;
    }
  
}
   